services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME:-notepad}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres} -d postgres -h localhost"]
      interval: 3s
      timeout: 3s
      retries: 30

  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY:-minioadmin}
    ports:
      - "9000:9000"  # S3 API
      - "9001:9001"  # MinIO Console
    volumes:
      - minio-data:/data
    networks:
      - app-net

  keycloak:
    image: keycloak/keycloak:26.5
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN:-admin}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
      KC_HOSTNAME_STRICT_BACKCHANNEL: "false"
      KC_HOSTNAME_URL: http://localhost:9081
    command: start-dev
    ports:
      - "9081:8080"
    networks:
      - app-net
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
      keycloak:
        condition: service_started
      

    environment:
      SPRING_APPLICATION_NAME: SimpleNotatnik
      # 1. To musi pasować do pola "iss" w tokenie (czyli to co widzi przeglądarka/curl)
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:9081/realms/simple-notatnik
      # 2. To wskazuje Springowi, żeby po klucze szedł wewnętrzną siecią Dockera do kontenera "keycloak" do usunuiecie potem
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/simple-notatnik/protocol/openid-connect/certs

      # DB - zgodnie z Twoim spring.datasource.url (DB_HOST/PORT/NAME/USER/PASS)
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: ${DB_NAME:-notepad}
      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-postgres}

      # MinIO - zgodnie z Twoimi properties
      MINIO_URL: http://minio:9000
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-minioadmin}
      MINIO_BUCKET: ${MINIO_BUCKET:-simplenotatnik}
      MINIO_PREFIX: ${MINIO_PREFIX:-notepad}
      MINIO_SECURE: "false"

    ports:
      - "8080:8080"
    networks:
      - app-net
      
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend/simpleNotatnik
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "4200:80"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-net

volumes:
  db-data:
  minio-data:

networks:
  app-net:
    driver: bridge
